<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provinces</key>
	<dict>
		<key>11</key>
		<string>北京</string>
		<key>12</key>
		<string>天津</string>
		<key>13</key>
		<string>河北</string>
		<key>14</key>
		<string>山西</string>
		<key>15</key>
		<string>内蒙古</string>
		<key>21</key>
		<string>辽宁</string>
		<key>22</key>
		<string>吉林</string>
		<key>23</key>
		<string>黑龙江</string>
		<key>31</key>
		<string>上海</string>
		<key>32</key>
		<string>江苏</string>
		<key>33</key>
		<string>浙江</string>
		<key>34</key>
		<string>安徽</string>
		<key>35</key>
		<string>福建</string>
		<key>36</key>
		<string>江西</string>
		<key>37</key>
		<string>山东</string>
		<key>41</key>
		<string>河南</string>
		<key>42</key>
		<string>湖北</string>
		<key>43</key>
		<string>湖南</string>
		<key>44</key>
		<string>广东</string>
		<key>45</key>
		<string>广西</string>
		<key>46</key>
		<string>海南</string>
		<key>50</key>
		<string>重庆</string>
		<key>51</key>
		<string>四川</string>
		<key>52</key>
		<string>贵州</string>
		<key>53</key>
		<string>云南</string>
		<key>54</key>
		<string>西藏</string>
		<key>61</key>
		<string>陕西</string>
		<key>62</key>
		<string>甘肃</string>
		<key>63</key>
		<string>青海</string>
		<key>64</key>
		<string>宁夏</string>
		<key>65</key>
		<string>新疆</string>
		<key>71</key>
		<string>台湾</string>
		<key>81</key>
		<string>香港</string>
		<key>82</key>
		<string>澳门</string>
	</dict>
	<key>carriers</key>
	<dict>
		<key>46000_000</key>
		<string>中国移动-全球通</string>
		<key>46000_001</key>
		<string>中国移动-动感地带</string>
		<key>46000_002</key>
		<string>中国移动-神州行</string>
		<key>46001_100</key>
		<string>中国联通-2G</string>
		<key>46001_101</key>
		<string>中国联通-3G</string>
		<key>46003_300</key>
		<string>中国电信</string>
	</dict>
	<key>apns</key>
	<dict>
		<key>460_00</key>
		<dict>
			<key>carrier</key>
			<string>中国移动</string>
			<key>name</key>
			<string>中国移动彩信设置</string>
			<key>apn</key>
			<string>cmwap</string>
			<key>user</key>
			<string></string>
			<key>server</key>
			<string></string>
			<key>password</key>
			<string></string>
			<key>proxy</key>
			<string>10.0.0.172</string>
			<key>port</key>
			<string>80</string>
			<key>mmsproxy</key>
			<string>10.0.0.172</string>
			<key>mmsport</key>
			<string>80</string>
			<key>mmsc</key>
			<string>http://mmsc.monternet.com</string>
		</dict>
		<key>460_01</key>
		<dict>
			<key>carrier</key>
			<string>中国联通</string>
			<key>name</key>
			<string>中国联通3G彩信设置</string>
			<key>apn</key>
			<string>3gwap</string>
			<key>user</key>
			<string></string>
			<key>server</key>
			<string>http://www.wo.com.cn</string>
			<key>password</key>
			<string></string>
			<key>proxy</key>
			<string>10.0.0.172</string>
			<key>port</key>
			<string>80</string>
			<key>mmsproxy</key>
			<string>10.0.0.172</string>
			<key>mmsport</key>
			<string>80</string>
			<key>mmsc</key>
			<string>http://mmsc.myuni.com.cn</string>
		</dict>
		<key>460_02</key>
		<dict>
			<key>carrier</key>
			<string>中国电信</string>
			<key>name</key>
			<string>中国电信彩信设置</string>
			<key>apn</key>
			<string>ctwap</string>
			<key>user</key>
			<string>ctwap@mycdma.cn</string>
			<key>server</key>
			<string></string>
			<key>password</key>
			<string>vnet.mobi</string>
			<key>proxy</key>
			<string>10.0.0.200</string>
			<key>port</key>
			<string>80</string>
			<key>mmsproxy</key>
			<string>10.0.0.200</string>
			<key>mmsport</key>
			<string>80</string>
			<key>mmsc</key>
			<string>http://mmsc.vnet.mobi</string>
		</dict>
	</dict>
</dict>
</plist>
